{% extends 'layout.html' %}

{% block body %}

<h1>
	lolartist - what I did instead of an awesome hack during some of <a href=http://boston.musichackday.org/2011/>Boston Music Hack Day</a> 
</h1>
<h2>
	<a href="http://misc.atl.me/dear-musichackday-youre-welcome"> Adam Lindsay's inpiring post</a>
</h2>
<p>
use: lolartist/ARTISTNAME
</p>
<p>
</p>
<p>
A few changes from Adam's original idea:
The Cheezburger's content caption API seemed to require partnership, so I'm captioning myself.
Titles of songs seemed easier than lyrics.
I wrote a cheap translator in Pyton using the
<a href="http://www.dribin.org/dave/lolspeak/">Dave Dribin's dictionary</a>
which is inferior to his ruby gem, mine doesn't do any of the heuristics it does.
</p>
<p>
thomasballinger@gmail.com
</p>
{% endblock %}
